---
import Layout from '../layouts/BlogPost.astro';

const heroImage = `${import.meta.env.BASE_URL}blog-placeholder-about.jpg`;
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('May 2025')}
	heroImage={heroImage}
>
	<p>
		I am a Industrial Enginner from Peru, I've worked many years in different industries
		
	</p>

	<p>
		I'm developing my skills in Data Science such as SQL, PostgreSQL, Numpy, Pandas, Matplotlib and Seaborn
		
	</p>

	<p>
		Now I'm working in small personal projects applying my knowledge in Data Science 
		
	</p>


	<p>
		Having the opportunity to learn new skills makes me happy and makes me feel everything is possible in this life 😇
		
	</p>
</Layout>
